# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
db.sqlite3
media/
staticfiles/
*.sqlite3

# Environment
.env
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# pytest
.pytest_cache/
.cache/
htmlcov/
.coverage
coverage.xml

# mypy
.mypy_cache/
